extends layout.pug

block variables
  - var PageID = 'createTeam';
  - var user = user.id;
  - var leagueID;

block append style
  style
    include ../public/stylesheets/createTeam.css

block content 
  body
    .grid-container
      each sport in sports
        .grid-item
          a.btn.btn-light(class='gbutton' href='#' + sport.sportName) #{sport.sportName}

    each sport in sports
      .container-fluid.table-striped(id = sport.sportName style='padding:100px 20px;')
        h1 #{sport.sportName}
        table.table.table-striped.table-hover
          thead
            tr
              th Division
              th Game Days
              th Game Time
          tbody
            each league in leagues
              if league.sport_id === sport.sport_id
                tr
                  td #{league.leagueName}
                  td #{league.gameDay}
                  td #{league.gameTime}
                  td
                    button.btn.btn-light(data-bs-toggle='modal' data-bs-target='#nameModal' data-league-id= league.league_id onclick='setLeagueID(this);') Select

    // modal to get name for team
    #nameModal.modal.fade
      .modal-dialog.modal-dialog-centered
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title Team Name
            button.btn-close(type='button' data-bs-dismiss='modal')
          form(action='/createTeam' method='post')
            // Modal body
            .modal-body
              label.mb-3(for='tn') What would you like to name your team?
              input.form-control.form-control-sm.float-end(id='tn' name='tn' type='text' placeholder='Team Name')
              input(id='lid' name='lid' type='hidden')
            // Modal footer
            .modal-footer
              input.btn.btn-light.primaryBg(type= 'submit' value='Create')
              button.btn.btn-danger(type='button' data-bs-dismiss='modal') Close


  script.
    function setLeagueID(element){
        leagueID = element.getAttribute("data-league-id");
        var lid = document.getElementById('lid');
        lid.setAttribute("value", leagueID);
    }

  