extends layout.pug

block variables
  - var PageID = 'createTeam';
  - var user = user.id;
  - var leagueID;

block append style
  style
    include ../public/stylesheets/createTeam.css

block content 
  body
    .grid-container
      each sport in sports
        .grid-item
          a.btn.btn-light(class='gbutton' href='#' + sport.sportName) #{sport.sportName}

    each sport in sports
      .container-fluid.table-striped(id = sport.sportName style='padding:100px 20px;')
        h1 #{sport.sportName}
        table.table.table-striped.table-hover
          thead
            tr
              th Division
              th Game Days
              th Game Time
          tbody
            each league in leagues
              if league.sport_id === sport.sport_id
                tr
                  td #{league.leagueName}
                  td #{league.gameDay}
                  td #{league.gameTime}
                  td
                    button.btn.btn-light(data-bs-toggle='modal' data-bs-target='#nameModal' data-league-id= league.league_id onclick='setLeagueID(this);') Select

    // modal to get name for team
    #nameModal.modal.fade
      .modal-dialog.modal-dialog-centered
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title Team Name
            button.btn-close(type='button' data-bs-dismiss='modal')
          form(action='/createTeam' method='post')
            // Modal body
            .modal-body
              label.mb-3(for='tn') What would you like to name your team?
              input.form-control.form-control-sm.float-end(id='tn' name='tn' type='text' placeholder='Team Name')
              input(id='lid' name='lid' type='hidden')
            // Modal footer
            .modal-footer
              input.btn.btn-light.primaryBg(type= 'submit' value='Create')
              button.btn.btn-danger(type='button' data-bs-dismiss='modal') Close


  script.
    function setLeagueID(element){
        leagueID = element.getAttribute("data-league-id");
        var lid = document.getElementById('lid');
        lid.setAttribute("value", leagueID);
    }


//-
  #Baseball.container-fluid.bg-success.text-white(style='padding:100px 20px;')
    h1 Baseball
  #Basketball.container-fluid.bg-warning(style='padding:100px 20px;')
    h1 Basketball
    ul
      each bball in bballLeague
        li='${bball.leagueName}'
          
  #Football.container-fluid.bg-secondary.text-white(style='padding:100px 20px;')
    h1 Football
    table.table.table-striped.table-hover
      thead
        tr
          th Sport
          th League
          th Game Time
      tbody
        each fball in fballLeague
          tr
            td #{fball.sport_id}
            td #{fball.leagueName}
            td game time needs added
  #Soccer.container-fluid.bg-secondary.text-white(style='padding:100px 20px;')
    h1 Soccer
  #Tennis.container-fluid.bg-secondary.text-white(style='padding:100px 20px;')
    h1 Tennis
  #Volleyball.container-fluid.bg-secondary.text-white(style='padding:100px 20px;')
    h1 Volleyball
  #Other.container-fluid.bg-secondary.text-white(style='padding:100px 20px;')
    h1 Other
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark.fixed-top
   .container-fluid
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='#Baseball') Baseball
      li.nav-item
        a.nav-link(href='#Basketball') Basketball
      li.nav-item
        a.nav-link(href='#Football') Football
      li.nav-item
        a.nav-link(href='#Soccer') Soccer
      li.nav-item
        a.nav-link(href='#Tennis') Tennis
      li.nav-item
        a.nav-link(href='#Volleyball') Volleyball
      li.nav-item
        a.nav-link(href='#Other') Other


  