extends layout.pug

block variables
  - var PageID = 'gameInformation';
  - var user = user.admin;
  - var leagueID;

block append style
  style
    include ../public/stylesheets/createTeam.css

block content 
  body
    .grid-container
      each sport in sports
        .grid-item
          a.btn.btn-light(class='gbutton' href='#' + sport.sportName) #{sport.sportName}

    each sport in sports
      .container-fluid.table-striped(id = sport.sportName style='padding:100px 20px;')
        h1 #{sport.sportName}
        table.table.table-striped.table-hover
          thead
            tr
              th Home Team
              th Away Team
              th Game Time
              th Game Location
          tbody
            each game in games
                tr
                  each team in teams
                    if team.team_id === game.team1_id
                      td #{team.teamName}
                  each team in teams
                    if team.team_id === game.team2_id
                      td #{team.teamName}
                  td #{game.date} at #{game.time} pm
                  td #{game.location}

  