extends layout.pug

block variables
  - var PageID = 'home';
  - var client = user;
  - var user = client.admin;
  

block append style
    style
        include ../public/stylesheets/home.css

block content
 body
  .container.mt-5
    .row
      .col-sm-4
        h2 #{client.name}
        h5 Photo:
        .fakeimg Photo submitted by user
        p Height: 6&apos;0&apos;
        p Weight: 180
        p Number of Teams: 4
        p Most played sport: Basketball
        h3.mt-4 Stats
        ul.nav.nav-pills.flex-column
          li.nav-item
            a.nav-link(href='') Team Stats
          li.nav-item
            a.nav-link(href='#') Player Stats
          li.nav-item
            a.nav-link(href='#') Records
          li.nav-item
            a.nav-link.disabled(href='#') Disabled
        hr.d-sm-none
      .col-sm-8
        p#msg= msg
        h2
          | My Teams
          a.btn.btn-light.ms-3(type='button' href='./createTeam') Create Team
          button.btn.btn-light.ms-3(data-bs-toggle='modal' data-bs-target='#myModal') Join Team

        table.table.table-striped.table-hover
          thead
            tr
              th Team Name
              th Sport
              th League
              th Captain's Code
          tbody
            each team in teams
              tr
                td
                  a(href='/teams/?tid=' + team.team_id) #{team.teamName}
                each league in leagues
                  each sport in sports
                    if sport.sport_id === league.sport_id
                      if league.league_id === team.league_id
                        td 
                          a(href='/rules/?sid=' + sport.sport_id) #{sport.sportName}
                  if league.league_id === team.league_id
                    td 
                      a(href='/leagues/?lid=' + league.league_id) #{league.leagueName} #{league.gameDay} #{league.gameTime}
                each t in u2t
                  if t.team_id === team.team_id
                    if t.captain == 1
                      td #{team.code}
                    else
                      td
        p#joinmsg= joinmsg


    // The Modal
    #myModal.modal.fade
      .modal-dialog.modal-dialog-centered
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title Join Team
            button.btn-close(type='button' data-bs-dismiss='modal')
          form(action='/joinTeam' method='post')
            // Modal body
            .modal-body
              label.mb-3(for='tc') Team Code    
              input.form-control.form-control-sm.float-end(id='tc' name='tc' type='text' placeholder='Team Code')
            // Modal footer
            .modal-footer
              input.btn.btn-light.primaryBg(type= 'submit' value='Search')
              button.btn.btn-danger(type='button' data-bs-dismiss='modal') Close