extends layout.pug

block variables
  - var PageID = 'leagues';
  - var user = user.admin;

  
block append style
    style
        include ../public/stylesheets/leagues.css

block content
 body
  .container.mt-5
    .row
      .col-sm-4
        h2 League Information
        p Sport: #{sport.sportName}
        p Division: #{league.leagueName}
        p Day: #{league.gameDay}
        p Times: #{league.gameTime}

      .col-sm-8
        h2 Teams
        table.table.table-striped.table-hover
          thead
            tr
              th Team Name
          tbody
            each team in teams
              tr
                td #{team.teamName}
  