extends layout.pug

block variables
  - var PageID = 'leagues';
  - var user = user.admin;

  
block append style
    style
        include ../public/stylesheets/leagues.css

block content
 body
  .container.mt-5
    .row
      .col-sm-4
        h2 League Information
        p Sport: #{sport.sportName}
        p Division: #{league.leagueName}
        p Day: #{league.gameDay}
        p Times: #{league.gameTime}

      .col-sm-8
        h2 
          | Teams
          if user == 1
            button.btn.btn-light.ms-3(data-bs-toggle='modal' data-bs-target='#myModal' data-league-id= league.league_id onclick='generate(this);') Generate Games
        table.table.table-striped.table-hover
          thead
            tr
              th Team Name
          tbody
            each team in teams
              tr
                td #{team.teamName}
  
    //generate modal
    #myModal.modal.fade
      .modal-dialog.modal-dialog-centered
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title
            button.btn-close(type='button' data-bs-dismiss='modal')
          form(action='/generateGames' method='post')
            // Modal body
            .modal-body
              label Are you sure you want to generate the games?
              lable This action will also close the league to further teams.
              .form-floating.mb-3
                input(id= 'lid' name='lid' type='hidden')
            // Modal footer
            .modal-footer
              input.btn.btn-light.primaryBg(type= 'submit' value='Yes')
              button.btn.btn-danger(type='button' data-bs-dismiss='modal') No

  script.
    function generate(element){
        lid.setAttribute("value", league.league_id);
    }